<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<Forms>
    <Form Class="Window" LAnchorPoint="0" LAnchorOffset="0" TAnchorPoint="0" TAnchorOffset="0" RAnchorPoint="0" RAnchorOffset="330" BAnchorPoint="0" BAnchorOffset="450" RelativeToClient="1" Font="Default" Text="" Template="Default" Name="MicroMenu" Border="0" Picture="1" SwallowMouseClicks="1" Moveable="1" Escapable="1" Overlapped="1" BGColor="ffffffff" TextColor="ffffffff" TextId="" TooltipColor="" Tooltip="" Sprite="">
        <Pixie LAnchorPoint="0" LAnchorOffset="-12" TAnchorPoint="0" TAnchorOffset="-8" RAnchorPoint="1" RAnchorOffset="12" BAnchorPoint="1" BAnchorOffset="12" Sprite="BK3:sprHolo_Alert_COMM" BGColor="white" TextColor="black" Rotation="" Font="Default" Text=""/>
        <Pixie LAnchorPoint="0" LAnchorOffset="24" TAnchorPoint="0" TAnchorOffset="85" RAnchorPoint="1" RAnchorOffset="-28" BAnchorPoint="1" BAnchorOffset="-28" Sprite="BK3:UI_BK3_Holo_InsetSimple" BGColor="white" TextColor="black" Rotation="0" Font="Default"/>
        <Pixie LAnchorPoint="0" LAnchorOffset="25" TAnchorPoint="0" TAnchorOffset="27" RAnchorPoint="1" RAnchorOffset="-28" BAnchorPoint="0" BAnchorOffset="77" Sprite="BK3:UI_BK3_Holo_InsetFramed_Darker" BGColor="white" TextColor="black" Rotation="0" Font="Default"/>
        <Pixie LAnchorPoint="0" LAnchorOffset="25" TAnchorPoint="0" TAnchorOffset="27" RAnchorPoint="1" RAnchorOffset="-28" BAnchorPoint="0" BAnchorOffset="77" Sprite="" BGColor="white" TextColor="UI_TextHoloTitle" Rotation="0" Font="CRB_Interface16_BBO" Text="GALAXY LIBRARY" TextId="" DT_VCENTER="1" DT_CENTER="1"/>
        <Control Class="Button" Base="BK3:btnHolo_Close" Font="DefaultButton" ButtonType="PushButton" RadioGroup="" LAnchorPoint="1" LAnchorOffset="-53" TAnchorPoint="0" TAnchorOffset="12" RAnchorPoint="1" RAnchorOffset="-10" BAnchorPoint="0" BAnchorOffset="55" DT_VCENTER="1" DT_CENTER="1" BGColor="UI_BtnBGDefault" TextColor="UI_BtnTextDefault" NormalTextColor="UI_BtnTextDefault" PressedTextColor="UI_BtnTextDefault" FlybyTextColor="UI_BtnTextDefault" PressedFlybyTextColor="UI_BtnTextDefault" DisabledTextColor="UI_BtnTextDefault" TooltipType="OnCursor" Name="CloseButton" TooltipColor="">
            <Event Name="ButtonSignal" Function="YourFunctionName"/>
        </Control>
        <Control Class="CostumeWindow" LAnchorPoint="0.5" LAnchorOffset="-180" TAnchorPoint="0" TAnchorOffset="-21" RAnchorPoint="0.5" RAnchorOffset="-80" BAnchorPoint="0" BAnchorOffset="79" RelativeToClient="1" Font="Default" Text="" Template="Default" Name="BGDatacube" BGColor="ffffffff" TextColor="ffffffff" Camera="Paperdoll" Animated="1" TooltipType="OnCursor" TooltipColor="" IgnoreMouse="1"/>
        <Control Class="Window" LAnchorPoint="0" LAnchorOffset="25" TAnchorPoint="0" TAnchorOffset="85" RAnchorPoint="1" RAnchorOffset="-28" BAnchorPoint="1" BAnchorOffset="-28" RelativeToClient="1" Font="Default" Text="" BGColor="UI_AlphaPercent40" TextColor="UI_WindowTextDefault" Template="Holo_ScrollList" TooltipType="OnCursor" Name="ScrollList" TooltipColor="" VScroll="1" IgnoreMouse="1" AutoHideScroll="0" Border="0" UseTemplateBG="0"/>
    </Form>
    <Form Class="Window" LAnchorPoint="0" LAnchorOffset="0" TAnchorPoint="0" TAnchorOffset="0" RAnchorPoint="1" RAnchorOffset="0" BAnchorPoint="0" BAnchorOffset="60" RelativeToClient="1" Font="Default" Text="" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Default" TooltipType="OnCursor" Name="EntryButton" Border="1" Picture="1" SwallowMouseClicks="1" Moveable="1" Escapable="1" Overlapped="1" TooltipColor="">
        <Control Class="Button" Base="CRB_Basekit:kitBtn_List_Holo" Font="DefaultButton" ButtonType="PushButton" RadioGroup="" LAnchorPoint="0" LAnchorOffset="0" TAnchorPoint="0" TAnchorOffset="0" RAnchorPoint="1" RAnchorOffset="0" BAnchorPoint="1" BAnchorOffset="0" DT_VCENTER="1" DT_CENTER="1" BGColor="UI_BtnBGDefault" TextColor="UI_BtnTextDefault" NormalTextColor="UI_BtnTextDefault" PressedTextColor="UI_BtnTextDefault" FlybyTextColor="UI_BtnTextDefault" PressedFlybyTextColor="UI_BtnTextDefault" DisabledTextColor="UI_BtnTextDefault" TooltipType="OnCursor" Name="Button" TooltipColor="">
            <Event Name="ButtonSignal" Function="YourFunctionName"/>
        </Control>
        <Control Class="Window" LAnchorPoint="0" LAnchorOffset="6" TAnchorPoint="0" TAnchorOffset="6" RAnchorPoint="0" RAnchorOffset="50" BAnchorPoint="0" BAnchorOffset="50" RelativeToClient="1" Font="Default" Text="" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Default" TooltipType="OnCursor" Name="Icon" TooltipColor="" Sprite="IconSprites:Icon_SkillEsper_Catharsis_Alt_Orange" Picture="1" IgnoreMouse="1"/>
        <Control Class="Window" LAnchorPoint="0" LAnchorOffset="3" TAnchorPoint="0" TAnchorOffset="3" RAnchorPoint="0" RAnchorOffset="53" BAnchorPoint="0" BAnchorOffset="53" RelativeToClient="1" Font="Default" Text="" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Default" TooltipType="OnCursor" Name="Border" TooltipColor="" Sprite="BK3:UI_BK3_Holo_InsetFramed" Picture="1" IgnoreMouse="1" NewWindowDepth="1"/>
    </Form>
</Forms>
